.container{
    width: 550px;
    margin: auto;
    margin-top: 20px;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 30px 40px;
    margin-bottom: 60px;
}

.container hr {
    height: 2px;
    border: none;
    background-color: #707070;
}

.container h2 {
    font-size: 22px;
    font-weight: 500;
}

.container ul li {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

.container button {
    margin: auto;
    width: 250px;
    height: 65px;
    background: #553f9a;
    color: white;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.container .index {
    margin: auto;
    font-size: 20px;
    font-weight: 300;
}

.container .correct {
    background: hwb(156 9% 47%);
    border-color: #00d397;
    color: black;
    font-weight: 500;
}

.container .wrong {
    background: #f21c1c;
    border-color: red;
    color: black;
    font-weight: 500;
}

.score {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}   
.score button {
    margin-top: 20px;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 20px;
        position: sticky;
    }
}