* {
  margin: 0;
  padding: 0;

}
body {
  height: auto;
  width: 100%;
  background-image: linear-gradient(#D8C7FF, #1f086d);
  font-family: 'poppins';
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: poppins;
}